.top-view {
    width: 100%;
    justify-content: space-between;
}

.info-panel {
    justify-content: flex-start;
    padding-left: 15px;
    flex: 1;
}

.timer-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ctrl-btns-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.ctrl-panel-btn {
    width: 180px;
    height: 60px;
    margin: 10px;
}

.step-btn {
    width: 90;
    height: 40px;
    font-weight: bold;
}

.break-turns-container {
    display: flex;
    width: 85%;
}

.postpone-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

#toggle-timer-btn {
    width: 300px;
    height: 60px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    background-color: #4981CE;
    color: #FAFAFA;
    font-family: "Libre Franklin";
    font-size: 1.2em;
    margin-top: 20px;
    margin-bottom: 20px;
}

#toggle-timer-btn > span {
    margin-left: 6px;
    font-size: 1.4em;
}

#toggle-timer-btn:hover {
    opacity: 0.7;
}

#skip-break-btn {
    width: 200px;
    height: 60px;
    margin: 10px;
    font-weight: "Libre Franklin Regular";
    border-radius: 12px;
    border: 2px solid #4981CE;
    cursor: pointer;
    background-color: transparent;
    color: #FAFAFA;
    font-family: "Libre Franklin Regular";
    font-size: 1.0em;
    margin-top: 20px;
    margin-bottom: 20px;
}

#skip-break-btn:hover {
    opacity: 0.7;
}

#skip-break-btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.break-turns {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
    height: 57px;
    border: 1px solid black;
}