.top-view {
    width: 100%;
    justify-content: space-between;
    margin-top: 15px;
}

.info-panel {
    justify-content: flex-start;
    padding-left: 15px;
    flex: 1;
}

.timer-container {
    padding-right: 5px;
    padding-left: 5px;
    flex: 2;
    display: flex;
}

.stats-container {
    padding-right: 5px;
    flex: 1;
    justify-content: flex-end;
}

#stats-btn {
    height: 40px;
    width: 80px;
}

.ctrl-btns-container {
    margin-top: 20px;
}

.ctrl-panel-btn {
    width: 180px;
    height: 60px;
    margin-right: 10px;
    margin-left: 10px;
    font-weight: bold;
}


.team-field {
    background-color: black;
    color: white;
}
