.top-view {
    width: 100%;
    justify-content: space-between;
    margin-top: 15px;
}

.info-panel {
    justify-content: flex-start;
    padding-left: 15px;
    flex: 1;
}

.quote-container {
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 80%;
    background-color: #2d2d2d;
    margin-bottom: 20px;
    border: none;
    border-radius: 16px;
}


.roles-container {
    margin-top: 20px;
}

#quote-text {
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 1.3em;
    font-family: "Libre Franklin Regular";
}

#author-text {
    font-family: "Libre Franklin Regular";
    margin-left: 35px;
    font-size: 1.0em;
    margin-bottom: 15px;
    margin-top: 15px;
}

#driver-text, #navigator-text {
    font-size: 2.0em;
    margin: 10px;
}

.ctrl-btns-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.ctrl-panel-btn {
    display: flex;
    width: 180px;
    height: 60px;
    margin-right: 10px;
    margin-left: 10px;
    font-weight: bold;
}

#start-btn {
    background-color: #4981CE;
    color: white;
}
