p {
	margin: 0px;
	padding: 0px;
	font-family: "Libre Franklin Regular";
}

#left-col {
	flex: 1;
	height: 100vh;
	align-items: center;
}

#right-col {
	flex: 2;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.configs-container {
	display: flex;
	flex-direction: column;
	margin-left: 20px;
	margin-right: 40px;
	height: 100%;
}

.members-options-container {
	align-items: center;
}

.col-header {
	margin-top: 20px;
}

.options-divider {
	width: 100%;
	height: 1px;
	background-color: #3f3f3f;
	margin-top: 10px;
	margin-bottom: 10px;
}

.input-container {
	display: flex;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 70%;
	margin-right: 40px;
}

.input-container > .row {
	align-items: center;
}

.input-container > h2 {
	font-size: 1.4em;
}

.input-field {
	height: 40px;
	width: 60px;
	text-align: center;
	font-size: 1.25em;
	border-radius: 6px;
	border: none;
	background-color: #3f3f3f;
	color: white;
	font-family: "Libre Franklin";
}

.input-field:focus {
	outline: none;
}

.step-btn {
	height: 40px;
	width: 40px;
	font-size: 1.6em;
	color: white;
	background-color: #4981CE;
	border: none;
	border-radius: 4px;
	margin-left: 4px;
	margin-right: 4px;
}

.step-btn:hover { 
	cursor: pointer;
	opacity: 0.7;
}

.team-edit-btn:hover, .exit-save-btn:hover {
	cursor: pointer;
	opacity: 0.7;
}

#back-btn {
	margin-top: 20px;
	border: none;
	background-color: #4981CE;
	width: 140px;
}

.member-options-container {
	flex-direction: row;
}

.add-member-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-top: 6px;
	margin-bottom: 12px;
}

#member-input {
	width: 200px;
	height: 30px;
	background-color: #3f3f3f;
	color: white;
	border: none;
	border-radius: 6px;
	font-family: "Libre Franklin";
}

#add-member-btn {
	height: 30px;
	border-radius: 6px;
	border: none;
	width: 30px;
	font-size: 1.6em;
	background-color: #4981CE;
	color: white;
	margin-left: 4px;
}
#member-input:focus {
	outline: none;
}

.team-edit-container {
	width: 100%;
	margin-top: 8px;
	justify-content: space-evenly;
} 

.exit-save-container {
	margin-top: 10px;
	justify-self: flex-end;
}

.exit-save-btn {
	margin-left: 10px;
	margin-right: 10px;
}

#save-btn {
	background-color: #4981CE;
}

#save-btn, #cancel-btn {
	width: 120px;
}

.team-edit-btn, .exit-save-btn {
	width: 90px;
	height: 40px;
	border-radius: 6px;
	border: none;
	font-family: "Libre Franklin Regular";
	font-size: 1.0em;
	background-color: transparent;
	border: 2px solid #4981CE;
	color: white;
}

.member-list {
    width: 100%;
    min-height: 40px;
    border: 2px solid #FAFAFA55;
    border-radius: 12px;
    margin-bottom : 10px;
    /* Grid */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.team-edit-btn:hover {
	opacity: 0.7;
}

#team-selector-wrapper {
	margin-top: 40px;
	height: 40px;
}

#team-selector {
	margin-top: 10px;
	background-color: #3f3f3f;
	width: 80%;
	height: 70%;
	color: white;
	font-family: "Libre Franklin";
	font-size: 1.2em;
	text-align: center;
	border: none;
	border-radius: 6px;
}

#team-selector:focus {
	outline: none;
}
