.top-view {
    width: 100%;
    justify-content: space-between;
    margin-top: 15px;
}

.info-panel {
    justify-content: flex-start;
    padding-left: 15px;
    flex: 1;
}

.teambox {
    display: flex;
    padding-top: 30px;
}

.dropdown{
    position: relative;
    padding-top: 16px;
}

.export {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    width: 60px;
    height: 30px;
    border: 1px solid black;
}

.display-teams {
    width: 60%;
    height: 100%;
    border: 1px solid black;
}

.exit{
    display: flex;
    align-items: center;
    align-self: flex-end;
    justify-content: center;
    margin-right: 20px;
    width: 60px;
    height: 30px;
    border: 1px solid black;
}