/*
HunterBlue: #2A6285
HunterBlack: #232021
*/
body {
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-family: Arial;
    font-size: 3.5em;
    margin: 2px;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.home-btns {
    display: flex;
    flex-direction: column;
}

.home-btn {
    width: 350px;
    height: 75px;
    margin: 20px;
    font-weight: bold;
    font-size: 1.5em;
    background-color: #2A6285;
    color: white;
    border: none;
    cursor: pointer;
}

.control-panel {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.left-col {
    background-color: gray;
    flex: 1;
    padding-left: 20px;
}

.right-col {
    width: 100%;
    background-color: gray;
    align-items: center;
    justify-content: space-between;
    flex: 2;
}

.team {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.team > h1 {
    padding-right: 25%;
    margin-bottom: 15px;
}

.team-members.row {
    width: 70%;
    min-height: 50px;
    background-color: white;
}

.team-member {
    font-family: Arial;
    color: white;
    min-width: 40px;
    height: 40px;
    background-color:#2A6285;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
}

.start-btn {
    width: 90%;
    height: 80px;
    background-color: #2A6285;
    color: white;
    font-weight: bold;
    font-size: 3.0em;
    border: none;
    margin: 20px;
    margin-bottom: 150px;
}

.load-btn, .save-btn {
    margin-top: 15px;
    margin-right: 2.5px;
    margin-left: 2.5px;
    height: 30px;
    width: 100px;
    font-weight: 600;
}

form.row {
    margin-top: 15px;
    margin-bottom: 15px;
}

form.row > h2 {
    padding: 0px;
    margin: 0px;
    padding-left: 2px;
    font-family: Arial;
    align-self: center;
}

.time-input {
    height: 30px;
    width: 45px;
}

.step {
    width: 40px;
    font-weight: bold;
    color: white;
    font-size: 24px;
    background-color: #2A6285;
    border: none;
}
