/*
HunterBlue: #2A6285
4981CE
AnotherHunterBlue: #367FAC
HunterBlack: #232021
*/

@font-face {
    font-family: "Libre Franklin";
    src: url("../../assets/fonts/LibreFranklin-Bold.ttf") format("truetype");
}

/* Use if monospace font is necessary (timers) */
@font-face {
    font-family: "Source Sans Pro";
    src: url("../../assets/fonts/SourceSansPro-Bold.ttf") format("truetype");
}


@font-face {
    font-family: "Libre Franklin Regular";
    src: url("../../assets/fonts/LibreFranklin-Regular.ttf") format("truetype");
}

body {
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    font-family: "Libre Franklin";
    background-color: #191919;
    color: #ffffff;
}

.no-scroll {
    overflow: hidden;
    overflow-y: hidden;
    overflow-x: hidden;
}

h1 {
    font-size: 3.5em;
    margin: 2px;
}

h2, h3, h4 {
    margin: 0px;
    padding: 0px;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.home-btns {
    display: flex;
    flex-direction: column;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-btn {
    width: 350px;
    height: 75px;
    margin: 20px;
    font-weight: bold;
    font-size: 1.5em;
    background-color: #2A6285;
    color: white;
    border: none;
    cursor: pointer;
}

.control-panel {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.left-col {
    background-color: gray;
    flex: 1;
    padding-left: 20px;
}

.right-col {
    width: 100%;
    background-color: gray;
    align-items: center;
    justify-content: space-between;
    flex: 2;
}

.divider {
    /* To make sure the width always extends */
    width: 100vw;
    height: 1px;
    background-color: gray;
}

.horizontal-divider {
    width: 1px;
    height: 100vh;
    background-color: gray;
}

.roles-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.role-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.member-list {
    width: 100%;
    min-height: 50px;
    border: 2px solid #FAFAFA55;
    border-radius: 12px;
    margin-bottom : 10px;
    /* Grid */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.member-field {
    background-color: #3f3f3f;
    color: white;
    display: flex;
    border-radius: 6px;
	align-items: center;
	justify-content: space-between;
    height: 40px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 3px;
    margin-right: 3px;
}

.x-btn {
    font-family: "Libre Franklin Regular";
    font-size: 1.0em;
    padding-bottom: 2px;
    height: 50%;
    background-color: green;
    border-radius: 4px;
    border: none;
    background-color: transparent;
    color: white;
    font-family: "Libre Franklin";
    display: flex;
    justify-content: center;
    align-items: center;
}

.x-btn:hover {
    color: red;
    cursor: pointer;
}

.name-text {
    font-family: "Libre Franklin Regular";
	margin-left: 12px;
}