.timer-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer-container.widget {
    width: 75px;
    height: 75px;
}

.timer-svg {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-90deg);
	scale: -1 1 1;
}

#timer-circle {
    cx: 150px; /* timer-svg.width / 2 */
    cy: 150px; /* Valid in SVG2 */
    stroke: #4981CE;
    /* stroke: white; */
    stroke-width: 10px;
    stroke-linecap: round;
    fill: none;
    /* r = x - stroke_width */
    r: 140px;
    /* stroke_dasharray = (r * 2pi) + stroke_width  */
    stroke-dasharray: 879px;
    transition: 1s linear;
    z-index: 2;
}

#timer-inner-circle {
    cx: 150px; /* timer-svg.width / 2 */
    cy: 150px; /* Valid in SVG2 */
    /* stroke: #132b3b; */
    stroke: #232021;
    stroke-width: 10px;
    stroke-linecap: round;
    fill: none;
    r: 140;
    z-index: 3;
}

.timer-svg.widget {
    width: 75px !important;
    height: 75px !important;
}

#timer-circle.widget {
    cx: 37.5px;
    cy: 37.5px;
    stroke: #4981CE;
    stroke-width: 4px;  
    /* r = x - stroke_width */
    r: 33.5px;
    /* stroke_dasharray = (r * 2pi) + stroke_width  */
    stroke-dasharray: 210px;
    z-index: 2;
}

#timer-inner-circle.widget {
    cx: 37.5px;
    cy: 37.5px;
    /* stroke: #132b3b; */
    stroke: #232021;
    stroke-width: 4px;
    fill: none;
    r: 33.5;
    z-index: 3;
}

#timer-text {
    z-index: 1;
    position: absolute;
    font-size: 3.0em;
    color: white;
    font-family: "Source Sans Pro";
    cursor: default;
}

#timer-text.widget {
    font-size: 1.2em;
    margin: 0px;
    padding: 0px;
}

.widget-pos-btn {
    width: 40px;
    height: 25px;
    border: none;
    border-radius: 5px;
    background-color: #2d2d2d;
    /* border: 1px solid #515151; */
    margin-top: 2px;
    margin-bottom: 4px;
}

.widget-pos-btn:hover {
    opacity: 0.5;
}

.top-row, .bottom-row {
    width: 90%;
    justify-content: space-around;
}

.arrow-right {
    width: 0; 
    height: 0; 
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-left: 40px solid #4981CE;
    cursor: pointer;
}


