.timer-circle {
    width: 300px;
    height: 300px;
    border: 0.5em solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.widget{
    width: 100px !important;
    height: 100px !important;
    border: 0.3em solid black !important;
}

.widget-pos-btn {
    width: 50px;
    height: 30px;
    border: 1px solid black;
}

.widget-pos-btn:active {
    opacity: 0.5;
}

.top-row, .bottom-row {
    width: 90%;
    justify-content: space-between;
}

.skip-btn {
    margin-left: 6px;
}

.arrow-right {
    width: 0; 
    height: 0; 
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-left: 40px solid black;
    cursor: pointer;
}

.timer-container {
    justify-content: center;
    align-items: center;
}
