.timer-circle {
    width: 300px;
    height: 300px;
    border: 0.5em solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.widget {
    width: 75px !important;
    height: 75px !important;
    border: 0.1em solid black !important;
}

.widget > h2 {
    font-size: 0.9em;
}

.widget-pos-btn {
    width: 40px;
    height: 25px;
    border: 1px solid black;
    margin-top: 2px;
    margin-bottom: 4px;
}

.widget-pos-btn:active {
    opacity: 0.5;
}

.top-row, .bottom-row {
    width: 90%;
    justify-content: space-around;
}

.skip-btn {
    margin-left: 6px;
}

.arrow-right {
    width: 0; 
    height: 0; 
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-left: 40px solid black;
    cursor: pointer;
}

.timer-container {
    justify-content: center;
    align-items: center;
}
