<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Break</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/timer.css">
    <link rel="stylesheet" href="../css/break_page.css">
    <link rel="stylesheet" href="../../../node_modules/material-icons/iconfont/material-icons.css">
</head>

<body>
    <h2 style="margin: 10px;">Break Time!</h2>
    <div class="timer-container">
        <h2 id="timer-text"></h2>            
        <svg class="timer-svg">
            <circle id="timer-inner-circle"></circle>
            <circle id="timer-circle"></circle>
        </svg>
    </div>
    <div class="col">
        <button class="ctrl-panel-btn" id="toggle-timer-btn">
            <p id="toggle-btn-text">Start Break</p>
            <span class="material-icons" id="toggle-timer-icon">emoji_food_beverage</span>
        </button>
    </div>

    <div class="divider"></div>
    <div class="postpone-container col">
        <div class="row" style="margin-top: 15px;">
            <h4 style="margin: 0px; margin-top: 10px; margin-right: 10px;">Rounds Until Next Break:</h4>
            <button class="step-btn" id="decrement-btn">-</button>
            <input type="text" id="next-break-input" min="1" value="5">
            <button class="step-btn" id="increment-btn">+</button>
        </div>
        <button class="ctrl-panel-btn" id="skip-break-btn">Postpone Break</button>
    </div>

    <script src="../js/timer.js"></script>
    <script src="../js/break_page.js"></script>
</body>

</html>