<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mob Programming Timer</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/timer.css">
    <link rel="stylesheet" href="../css/break_page.css">
</head>
<body>
    <div class="timer-container">
        <div class="timer-circle">
            <h1>9:59</h1>
        </div>
    </div>
    <div class="ctrl-btns-container col">
    <button class="ctrl-panel-btn" id="start-stop-btn">End Break</button>
		<a href=""><button class="ctrl-panel-btn" id="options-btn">Push Break</button></a>
    </div>

    <div class="ctrl-btns-container row">
        <h4>After</h4>
        <button class="ctrl-panel-btn" id="start-stop-btn">-</button>
        <div class="break-turns-container">
            <div class="break-turns" id="break-number">
                
            </div>
        <a href=""><button class="ctrl-panel-btn" id="options-btn">+</button></a>
        </div>

</body>
</html>