<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mob Programming Timer</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/timer.css">
    <link rel="stylesheet" href="../css/break_page.css">
</head>
<body>
    <div class="timer-container">
        <div class="timer-circle">
            <h1>9:59</h1>
        </div>
    </div>
    <div class="ctrl-btns-container col">
    <button class="ctrl-panel-btn" id="start-stop-btn">End Break</button>
		<a href=""><button class="ctrl-panel-btn" id="options-btn">Push Break</button></a>
    </div>
    <h1>Driver: Neal</h1>
    <h1>Navigator: Irvin</h1>
</body>
</html>