<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Control Panel</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/timer.css">
    <link rel="stylesheet" href="../css/control_panel.css">
</head>

<body>

    <!-- Team Information , Timer, Skip Button, and Stats Button -->
    <div class="top-view row">
        <div class="info-panel col">
            <h2>Team: Web Dev #1</h2>
            <h3>Driver: Neal</h3>
            <h3>Navigator: Irvin</h3>
        </div>

        <div class="timer-container row" style="margin-left: 80px">
            <div class="timer-circle">
                <h2 id="timer-text"></h2>
            </div>
            <div class="skip-btn row">
                <div class="arrow-right"></div>
                <div class="arrow-right"></div>
            </div>
        </div>

        <div class="stats-container row">
			<a href="./statistics.html">
				<button id="stats-btn">Stats</button>
			</a>
        </div>

    </div>

    <!-- Control panel buttons -->
    <div class="ctrl-btns-container">
        <button class="ctrl-panel-btn" id="reset-btn">Reset</button>
        <button class="ctrl-panel-btn" id="start-stop-btn">Start</button>
		<a href="./options.html"><button class="ctrl-panel-btn" id="options-btn">Options</button></a>
    </div>

    <div class="team-members-container col">
        <h4>Queue</h4>
        <div class="member-list" id="active-queue">

        </div>

        <h4>Inactive</h4>
        <div class="member-list" id="inactive-list">

        </div>
    </div>
    <script src="../js/control_panel.js"></script>
</body>

</html>
