<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mob Programming Timer</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <div class="control-panel">
        <div class="left-col">
            <h1>Timer</h1>
            <form class="row">
                <button class="step">-</button>
                <input type="text" id="time" name="time" class="time-input">
                <button class="step">+</button>
                <h2>Duration (mins)</h2>
            </form>
            <form class="row">
                <button class="step">-</button>
                <input type="text" id="time" name="time" class="time-input">
                <button class="step">+</button>
                <h2>Break (mins)</h2>
            </form>
            <form class="row">
                <button class="step">-</button>
                <input type="text" id="time" name="time" class="time-input">
                <button class="step">+</button>
                <h2>Break after turns</h2>
            </form>
        </div>
        <div class="right-col col">
            <div class="team">
                <h1>Team Members</h1>
                <div class="team-members row">
                    <div class="team-member">Neal</div>
                    <div class="team-member">Irvin</div>
                    <div class="team-member">Prof Simon Fan</div>
                </div>
                <div class="row">
                    <button class="load-btn">Load</button>
                    <button class="save-btn">Save</button>
                </div>
            </div>
            <button class="start-btn">Start Mobbing</button>
        </div>
    </div>
</body>
</html>