<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Control Panel</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/timer.css">
    <link rel="stylesheet" href="../css/control_panel.css">
</head>

<body>

    <!-- Team Information , Timer, Skip Button, and Stats Button -->
    <div class="top-view row">
        <div class="info-panel col">
            <h2 id="team-name-text">Team:</h2>
            <h3 id="driver-text"></h3>
            <h3 id="navigator-text"></h3>
        </div>

        <div class="timer-container" style="margin-left: 80px">
            <h2 id="timer-text"></h2>            
            <svg class="timer-svg">
                <circle id="timer-circle"></circle>
            </svg>
        </div>
        <div class="skip-btn row" style="align-self: center">
            <div class="arrow-right"></div>
            <div class="arrow-right"></div>
        </div>

        <div class="stats-container row">
            <button id="stats-btn">Stats</button>
        </div>

    </div>

    <!-- Control panel buttons -->
    <div class="ctrl-btns-container">
        <button class="ctrl-panel-btn" id="reset-btn">Reset</button>
        <button class="ctrl-panel-btn" id="start-stop-btn">Start</button>
		<a href="./options.html"><button class="ctrl-panel-btn" id="options-btn">Options</button></a>
    </div>

    <div class="team-members-container col">
        <h4>Queue</h4>
        <div class="member-list" id="active-queue">

        </div>

        <h4>Inactive</h4>
        <div class="member-list" id="inactive-list">

        </div>
    </div>
    <script src="../js/timer.js"></script>
    <script src="../js/control_panel.js"></script>
</body>

</html>
