<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mob Programming Timer</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <h1>Mob Timer</h1> 
    <div class="home-btns">
        <button class="home-btn">Start</button>
        <button class="home-btn">Options</button>
        <button class="home-btn">Statistics</button>
        <button class="home-btn">Quit</button>
    </div>
</body>
</html>