<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mob Programming Timer</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/control_panel.css">
    <link rel="stylesheet" href="../css/next_role.css">
    <link rel="stylesheet" href="../../../node_modules/material-icons/iconfont/material-icons.css">
</head>

<body>
    <div class="quote-container">
        <h2 id="quote-text"></h2>
        <h3 id="author-text"></h3>
    </div>
    <div class="divider" style="background-color: #4981CE; width: 80%;"></div>
    <div class="roles-container">
        <div class="role-container">
            <span class="material-icons" style="font-size: 2.5em; color: #4981CE;">keyboard</span>
            <h2 id="driver-text">Driver: Neal</h2>
        </div>
        <div class="role-container">
            <span class="material-icons" style="font-size: 2.5em; color: #4981CE;">explore</span>
            <h2 id="navigator-text">Navigator: Irvin</h2>
        </div>
    </div>
    <div class="ctrl-btns-container row">
        <button class="ctrl-panel-btn" id="skip-btn">Skip</button>
        <button class="ctrl-panel-btn" id="start-btn">Start</button>
    </div>
    <script src="../js/next_role.js"></script>
</body>

</html>