<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Options Page</title>
	<link rel="stylesheet" href="../css/styles.css">
	<link rel="stylesheet" href="../css/options.css">
</head>
<body>
	<div class="team-options-container col">
		<h2 id="current-team-header">Current Team</h2>
		<div class="row">
			<button class="team-edit-btn" id="new-team-btn">Add</button>
			<button class="team-edit-btn" id="remove-team-btn">Remove</button>
			<button class="team-edit-btn" id="edit-team-btn">Rename</button>
		</div>
		<select name="team" id="team-selector">
		</select>
	</div>

	<div class="divider"></div>

	<div class="mob-time-container row">
		<h2>Mob Time</h2>
		<button class="step-btn" id="mob-time-decrementer">-</button>
		<input type="text" id="mob-time-input" value="">
		<button class="step-btn" id="mob-time-incrementer">+</button>
	</div>

	<div class="break-time-container row">
		<h2>Break Time</h2>
		<button class="step-btn" id="break-time-decrementer">-</button>
		<input type="text" id="break-time-input" value="">
		<button class="step-btn" id="break-time-incrementer">+</button>
	</div>

	<div class="rounds-before-break-container row">
		<h2>Rounds Before Break</h2>
		<button class="step-btn" id="rounds-before-break-decrementer">-</button>
		<input type="text" id="rounds-before-break-input" value="">
		<button class="step-btn" id="rounds-before-break-incrementer">+</button>
	</div>


	<div class="members-options-container col">
		<div class="team-members-container col">
			<h2>Team Members</h2>
			<div class="member-list">
				
			</div>
		</div>
	</div>

	<div class="exit-save-container row">
		<button class="exit-save-btn" id="exit-btn">Exit</button>
		<button class="exit-save-btn" id="save-btn">Save</button>
	</div>
	<script src="../js/options.js"></script>
</body>
</html>
