<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Options Page</title>
	<link rel="stylesheet" href="../css/styles.css">
	<link rel="stylesheet" href="../css/options.css">
</head>
<body>
	<div class="team-option-container">
		<h2>Current Team</h2>
		<!-- Drop Down Menu -->
		<select name="team" id="team-selector">
			<option value="team1">None</option>
			<option value="team2">Web Dev 1</option>
			<option value="team2">Mobile Dev 1</option>
		</select>
		<button class="team-edit-btn" id="new-team-btn">+</button>
		<button class="team-edit-btn" id="remove-team-btn">-</button>
		<button class="team-edit-btn" id="edit-team-btn">Edit</button>
	</div>

	<div class="mob-time-container row">
		<h2>Mob Time</h2>
		<button class="step-btn" id="mob-time-decrementer">-</button>
		<input type="text" id="mob-time-input" value="5">
		<button class="step-btn" id="mob-time-incrementer">+</button>
	</div>

	<div class="break-time-container row">
		<h2>Break Time</h2>
		<button class="step-btn" id="break-time-decrementer">-</button>
		<input type="text" id="break-time-input" value="5">
		<button class="step-btn" id="break-time-incrementer">+</button>
	</div>

	<div class="rounds-before-break-container row">
		<h2>Rounds Before Break</h2>
		<button class="step-btn" id="rounds-before-break-decrementer">-</button>
		<input type="text" id="rounds-before-break-input" value="5">
		<button class="step-btn" id="rounds-before-break-incrementer">+</button>
	</div>


	<div class="members-options-container col">
		<div class="team-members-container col">
			<h2>Team Members</h2>
			<div class="member-list">
				
			</div>
		</div>
	</div>
	
</body>
</html>
