<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mob Programming Timer</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/statistics.css">
</head>
<body>

    <div class = "teambox row">
        <h3>Teams:</h3>
        <div class="textfield" id="teamname">Team 1</div>

        <div class="dropdown">
        <button class="dropbtn" id="down-arrow">V</button>
        <div class="dropdown-items">
            <a href="#">Team 1</a>
            <a href="#">Team 2</a>
            <a href="#">Team 3</a>
        </div>
    </div>
        <button class="export" id="export-button">export</button>
    </div>

    <div class="display-teams">
        Test
    </div>

</body>
</html>