<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mob Programming Timer</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/statistics.css">
</head>
<body>
    <button class="exit" id="exit-button">exit</button>

    <div class = "teambox row">
        <h3>Teams:</h3>

        <div class="dropdown">
		<select name="team" id="team-selector">
			<option value="team1">None</option>
			<option value="team2">Web Dev 1</option>
			<option value="team3">Mobile Dev 1</option>
		</select>
    </div>
        <button class="export" id="export-button">export</button>
    </div>

    <div class="display-teams">
        Test
    </div>


    <script src="../js/statistics.js"></script>
</body>
</html>