<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/timer.css">
</head>
<body style="justify-content: center">
    <div class="top-row row">
        <button id="top-left-btn" class="widget-pos-btn"></button>
        <button id="top-right-btn" class="widget-pos-btn"></button>
    </div>
    <div class="timer-container">
        <div class="timer-circle widget">
            <h2 id="timer-text"></h2>
        </div>
    </div>
    <div class="bottom-row row">
        <button id="bottom-left-btn" class="widget-pos-btn"></button>
        <button id="bottom-right-btn" class="widget-pos-btn"></button>
    </div>
    <script src="../../controllers/widget_controller.js"></script>
</body>
</html>